mdl debug/kano/vanim0.mdl debug/kano/vanim1.mdl debug/kano/vanim2.mdl debug/kano/vanim3.mdl
scale 0.01							; Scaling icon
bface 1.0							; bface value
gour on								; on/off
texture arcuive						; on/off/arcuive
seq 400.0 1.0 0						; <nbframe> <speed> <offset>
key 0.0   1.0 0.0 0.0 0.0			; <frame number> <weight> ... 
key 100.0 0.0 1.0 0.0 0.0			;   ウェイトはモデルの数と同じ数要る
key 200.0 0.0 0.0 1.0 0.0
key 300.0 0.0 0.0 0.0 1.0
key 400.0 1.0 0.0 0.0 0.0
