mdl goods/mc_icon/mc_icon_vr/mc_icon_vr.mdl
scale 0.01							; Scaling icon
bface 1.0							; bface value
gour on								; on/off
texture arcuive						; on/off/arcuive
seq 10.0 1.0 0						; <nbframe> <speed> <offset>
key 0.0   1.0						; <frame number> <weight> ... 
